
  body {
    background-color: #669999;
    text-align: center;
    /* background-image: url("../1091427.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
  
 }
  h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  /* p {
    font-size: 16px;
    font-family: Monospace;
  } */

 
